<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Automation for Publisher APP with Playwright JAVA+ TESTNG ">

    <test name="Author API Tests">
        <classes>
            <class name="com.mobelite.publisher.api.tests.AuthorApiTest"/>
            <class name="com.mobelite.publisher.api.tests.BookApiTest"/>
        </classes>
    </test>

</suite>