<p-table [value]="authors" [loading]="loading" dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Nationality</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-author>
    <tr>
      <td>{{ author.name }}</td>
      <td>{{ author.birthDate }}</td>
      <td>{{ author.nationality }}</td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="openEdit(author)" class="p-button-text"></button>
        <button pButton icon="pi pi-trash" (click)="confirmDeleteAuthor(author)" class="p-button-text p-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<button pButton label="Add Author" icon="pi pi-plus" (click)="openNew()"></button>

<p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="false" header="{{ isEdit ? 'Edit Author' : 'Add Author' }}">
  <form (ngSubmit)="save()" #authorForm="ngForm">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Name</label>
        <input id="name" type="text" pInputText [(ngModel)]="form.name" name="name" required minlength="2" maxlength="100" #name="ngModel" />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          <div *ngIf="name.errors?.['minlength']">Name must be at least 2 characters.</div>
          <div *ngIf="name.errors?.['maxlength']">Name cannot exceed 100 characters.</div>
        </div>
      </div>
      <div class="p-field">
        <label for="birthDate">Birth Date</label>
        <input id="birthDate" type="date" pInputText [(ngModel)]="form.birthDate" name="birthDate" />
      </div>
      <div class="p-field">
        <label for="nationality">Nationality</label>
        <input id="nationality" type="text" pInputText [(ngModel)]="form.nationality" name="nationality" maxlength="50" #nationality="ngModel" />
        <div *ngIf="nationality.invalid && (nationality.dirty || nationality.touched)" class="p-error">
          <div *ngIf="nationality.errors?.['maxlength']">Nationality cannot exceed 50 characters.</div>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-jc-end">
      <button pButton type="submit" label="Save" [disabled]="authorForm.invalid"></button>
      <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="displayDialog = false"></button>
    </div>
  </form>
</p-dialog>

<app-confirm-dialog [visible]="confirmDelete" message="Are you sure you want to delete this author?" (accept)="deleteAuthor()" (reject)="confirmDelete = false"></app-confirm-dialog> 