<p-table [value]="publications" [loading]="loading" dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Publication Date</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-publication>
    <tr>
      <td>{{ publication.title }}</td>
      <td>{{ publication.publicationDate }}</td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="openEdit(publication)" class="p-button-text"></button>
        <button pButton icon="pi pi-trash" (click)="confirmDeletePublication(publication)" class="p-button-text p-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<button pButton label="Add Publication" icon="pi pi-plus" (click)="openNew()"></button>

<p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="false" header="{{ isEdit ? 'Edit Publication' : 'Add Publication' }}">
  <form (ngSubmit)="save()" #publicationForm="ngForm">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" type="text" pInputText [(ngModel)]="form.title" name="title" required minlength="2" maxlength="255" #title="ngModel" />
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="p-error">
          <div *ngIf="title.errors?.['required']">Title is required.</div>
          <div *ngIf="title.errors?.['minlength']">Title must be at least 2 characters.</div>
          <div *ngIf="title.errors?.['maxlength']">Title cannot exceed 255 characters.</div>
        </div>
      </div>
      <div class="p-field">
        <label for="publicationDate">Publication Date</label>
        <input id="publicationDate" type="date" pInputText [(ngModel)]="form.publicationDate" name="publicationDate" required #publicationDate="ngModel" />
        <div *ngIf="publicationDate.invalid && (publicationDate.dirty || publicationDate.touched)" class="p-error">
          <div *ngIf="publicationDate.errors?.['required']">Publication date is required.</div>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-jc-end">
      <button pButton type="submit" label="Save" [disabled]="publicationForm.invalid"></button>
      <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="displayDialog = false"></button>
    </div>
  </form>
</p-dialog>

<app-confirm-dialog [visible]="confirmDelete" message="Are you sure you want to delete this publication?" (accept)="deletePublication()" (reject)="confirmDelete = false"></app-confirm-dialog> 