<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Test Automation for Publisher APP with Playwright + TESTNG + Cucumber" verbose="1">

    <test name="Cucumber UI Tests">
        <classes>
            <!-- Use your TestRunner class here -->
            <class name="com.mobelite.publisher.ui.runners.TestRunner"/>
        </classes>
    </test>
</suite>